/* 
#left{
    border:2px solid black ;
    height:727px;
    width: 1280px;
    top: 102px;
    left: 158px;
    background-color: rgb(73, 215, 144);
    position: relative;  
}
#navbar{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 75px;
    text-decoration: none;
    background-color:rgb(51, 186, 119);
    font-size: 20px;
    line-height: 1.3;
}
a{
    text-decoration: none;
    color: black;
}
#home{
    text-decoration: underline;
}
#kaizen{
    color: blue;
}
#About{
    margin-left: 50px;
}
#disc{
    font-size: 25px;
    margin-right: 440px;
    margin-left: 8px;
    color: rgb(39, 35, 35);
    font-family: sans-serif;
    text-align: justify;
    max-width: 700px;
    line-height: 1.35;
}
#campus{
    font-size: 60px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 0px;
}
#c2{
    font-family: sans-serif;
    font-size: 40px;
    margin-top: 1px;
    margin-left: 5px;
}
 #btn {
  margin-left: 40px;
  background-color: rgb(48, 45, 45);
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  border: none;       
  outline: none;      
  box-shadow: none;   
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 2.9px;
}

#image{
  position: absolute;
  right: 1px;
  top: 120px;
  width: 420px;
  height: 520px;
}
#navbar a:nth-child(5){
  width: 60px; 
  text-align: center;
  line-height: 1.1;
}
#navbar a:nth-child(2){
  padding-left: 8px;
  background-image: url("WhatsApp_Image_2025-12-10_at_10.18.30_b1e2e706-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 30px ;
  background-position: left center;
} */
 #left{
    border:2px solid black ;
    height:727px;
    width: 1280px;
    top: 102px;
    left: 158px;
    background-color: rgb(73, 215, 144);
    position: relative;  
}

#navbar{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 75px;
    text-decoration: none;
    background-color:rgb(51, 186, 119);
    font-size: 20px;
    line-height: 1.3;
}

a{
    text-decoration: none;
    color: black;
}

#home{
    text-decoration: underline;
}

#kaizen{
    color: blue;
}

#About{
    margin-left: 50px;
}

#disc{
    font-size: 25px;
    margin-right: 440px;
    margin-left: 8px;
    color: rgb(39, 35, 35);
    font-family: sans-serif;
    text-align: justify;
    max-width: 700px;
    line-height: 1.35;
}

#campus{
    font-size: 60px;
    font-family: sans-serif;
    color: white;
    margin-bottom: 0px;
}

#c2{
    font-family: sans-serif;
    font-size: 40px;
    margin-top: 1px;
    margin-left: 5px;
}

#btn {
  margin-left: 40px;
  background-color: rgb(48, 45, 45);
  color: white;
  width: 120px;
  height: 40px;
  border-radius: 6px;
  border: none;       
  outline: none;      
  box-shadow: none;   
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 2.9px;
}

#image{
  position: absolute;
  right: 1px;
  top: 120px;
  width: 420px;
  height: 520px;
}

#navbar a:nth-child(5){
  width: 60px; 
  text-align: center;
  line-height: 1.1;
}

#navbar a:nth-child(2){
  padding-left: 8px;
  background-image: url("WhatsApp_Image_2025-12-10_at_10.18.30_b1e2e706-removebg-preview.png");
  background-repeat: no-repeat;
  background-size: 30px ;
  background-position: left center;
}
@media (max-width: 768px){

  #left{
    width: 100%;
    height: auto;
  }

  #navbar{
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    height: auto;
    padding: 10px 0;
    font-size: 16px;
  }

  #About{
    margin-left: 20px;
  }

  #disc{
    margin-right: 20px;
    max-width: 100%;
    font-size: 18px;
  }

  #campus{
    font-size: 40px;
  }

  #c2{
    font-size: 26px;
  }

  #btn{
    margin-left: 20px;
  }

  #image{
    position: static;
    width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
  }
}

