body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    width: 880px;
    height: 612px;
    border: 2px solid black;
    background-color: rgb(38, 134, 99);
    color: white;
}
#content{
    display: flex;
    justify-content: center;
}
img{
    width: 300px;
    height: 200px;
    margin-top: 220px;
    margin-left: 40px;
    margin-right: 80px;
}
#right{
    margin-top: 70px;
    width: 250px;
    text-align: justify;
}
#head{
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bolder;
}
#para1{
    color: rgb(245, 245, 245);
    line-height: 1.4;
    font-family: sans-serif;
}
@media (max-width: 768px){

  body{
    height: auto;
    padding-top: 20px;
  }

  #box{
    width: 95%;
    height: auto;
  }

  #content{
    flex-direction: column;
    align-items: center;
  }

  img{
    width: 80%;
    height: auto;
    margin: 30px ;
    margin-left: 70px;
  }

  #right{
    width: 90%;
    margin-top: 20px;
    text-align: center;
  }

  #head{
    font-size: 22px;
  }

  #para1{
    font-size: 16px;
  }
}
